In [35]:
import pandas as pd
df = pd.read_csv('df practice - シート1.csv')
df

  Unnamed: 0  2018  2019  2020  2021  2022
0          a     1     1     1     1     1
1          b     0     0     1     0     0
2          c     0     1     0     0     1
3          d     0     0     0     0     1
4          e     0     0     0     1     0

In [41]:
df=df.drop(['Unnamed: 0'],axis=1)

In [43]:
df.idxmax(axis=1)

0    2018
1    2020
2    2019
3    2022
4    2021
dtype: object